@page
@model CoreFundamentals.Pages.Restaurants.ListModel
@{
    ViewData["Title"] = "Restaurants";
}

<h1>Restaurants</h1>

<form method="get">
    <section class="form-group">
        <section class="input-group">
            <input type="search" class="form-group" 
                   asp-for="SearchTerm"/>
            <span class="input-group-btn">
                <button class="input-group-btn btn-default">
                    <i class="glyphicon glyphicon-search"></i>
                    Seach
                </button>
            </span>
        </section>
    </section>
</form>

@foreach(var restaurant in Model.Restaurants)
{
    <partial name="_Summary" model="restaurant" />
}

<a class="btn btn-primary"
   asp-page="./Edit" >
    Create a Restaurant
</a>

@section footer {
    <p>@Model.Message</p>
}